/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.fullWidth{
    width:100%;
}

.fillWidth {
  width: 100vw;
  position: relative;
  left: calc(-1 * (100vw - 100%) / 2);
}

.clickLink{
  cursor: pointer;
}

.mat-form-field--inline {
  display: flex;
  flex-direction: row;
  align-items: center;
}


.mat-form-field--inline .mat-form-field:nth-child(odd) {
  margin-right: 10px;
}


header.masthead {
  position: relative;
  width: 100%;
  padding-top: 150px;
  padding-bottom: 100px;
  color: white;
  background: url("assets/img/bg-pattern.png"), #7b4397;
  background: url("assets/img/bg-pattern.png"), -webkit-gradient(linear, right top, left top, from(#7b4397), to(#dc2430));
  background: url("assets/img/bg-pattern.png"), linear-gradient(to left, #7b4397, #dc2430);
}

  header.masthead .header-content {
    max-width: 500px;
    margin-bottom: 100px;
    text-align: center;
  }

    header.masthead .header-content h1 {
      font-size: 30px;
    }

  header.masthead .device-container {
    max-width: 325px;
    margin-right: auto;
    margin-left: auto;
  }

    header.masthead .device-container .screen img {
      border-radius: 3px;
    }

@media (min-width: 992px) {
  header.masthead {
    height: 100vh;
    min-height: 775px;
    padding-top: 0;
    padding-bottom: 0;
  }

    header.masthead .header-content {
      margin-bottom: 0;
      text-align: left;
    }

      header.masthead .header-content h1 {
        font-size: 50px;
      }

    header.masthead .device-container {
      max-width: 325px;
    }
}



.device-mockup {
  position: relative;
  width: 100%;
  padding-bottom: 61.775701%;
}

  .device-mockup > .device {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url("assets/img/iphone_6_plus/macbook.png");
  }


    .device-mockup > .device > .screen {
      position: absolute;
      top: 11.0438729%;
      bottom: 14.6747352%;
      left: 13.364486%;
      right: 13.364486%;
      overflow: hidden;
    }

    .device-mockup > .device > .button {
      position: absolute;
      top: 0;
      left: 0;
      display: none;
      overflow: hidden;
      border-radius: 100%;
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      cursor: pointer;
    }



  /* iPhone 6 Plus*/
  .device-mockup.iphone6_plus,
  .device-mockup.iphone6_plus.portrait {
    padding-bottom: 201.76%;
  }

    .device-mockup.iphone6_plus.landscape {
      padding-bottom: 49.56%;
    }

    .device-mockup.iphone6_plus > .device,
    .device-mockup.iphone6_plus.black > .device,
    .device-mockup.iphone6_plus.portrait.black > .device {
      background-image: url("assets/img/iphone_6_plus/iphone_6_plus_black_port.png");
    }

    .device-mockup.iphone6_plus.landscape > .device,
    .device-mockup.iphone6_plus.landscape.black > .device {
      background-image: url("assets/img/iphone_6_plus/iphone_6_plus_black_land.png");
    }

    .device-mockup.iphone6_plus.white > .device,
    .device-mockup.iphone6_plus.portrait.white > .device {
      background-image: url("assets/img/iphone_6_plus/iphone_6_plus_white_port.png");
    }

    .device-mockup.iphone6_plus.landscape.white > .device {
      background-image: url("assets/img/iphone_6_plus/iphone_6_plus_white_land.png");
    }

    .device-mockup.iphone6_plus.gold > .device,
    .device-mockup.iphone6_plus.portrait.gold > .device {
      background-image: url("assets/img/iphone_6_plus/iphone_6_plus_gold_port.png");
    }

    .device-mockup.iphone6_plus.landscape.gold > .device {
      background-image: url("assets/img/iphone_6_plus/iphone_6_plus_gold_land.png");
    }

    .device-mockup.iphone6_plus > .device > .screen,
    .device-mockup.iphone6_plus.portrait > .device > .screen {
      top: 11.58%;
      bottom: 11.58%;
      left: 5.97%;
      right: 5.97%;
    }

    .device-mockup.iphone6_plus.landscape > .device > .screen {
      top: 5.97%;
      bottom: 5.97%;
      left: 11.38%;
      right: 11.58%;
    }

    .device-mockup.iphone6_plus > .device > .button,
    .device-mockup.iphone6_plus.portrait > .device > .button {
      display: block;
      top: 89.9%;
      bottom: 3.2%;
      left: 43%;
      right: 43%;
    }

    .device-mockup.iphone6_plus.landscape > .device > .button {
      display: block;
      top: 43%;
      bottom: 43%;
      left: 89.9%;
      right: 3.2%;
    }


.btn-outline {
  color: white;
  border: 1px solid;
  border-color: white;
}

  .btn-outline:hover, .btn-outline:focus, .btn-outline:active, .btn-outline.active {
    color: white;
    border-color: #fdcc52;
    background-color: #fdcc52;
  }

.btn {
  border-radius: 300px;
  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  letter-spacing: 2px;
  text-transform: uppercase;
}

.btn-xl {
  font-size: 11px;
  padding: 15px 45px;
}
