<div *ngIf="!auth.isAuthenticated" class="fillWidth">
  <header class="masthead">
    <div class="container h-100">
      <div class="row h-100">
        <div class="col-lg-7 my-auto">
          <div class="header-content mx-auto">
            <h1 class="mb-5">
              Make quizzes to review what you've learned in class. 
            </h1>
            <br />
            <h1 class="mb-5">
              You can also play quizzes made by your classmates.
            </h1>
            <a href="/register" class="btn btn-outline btn-xl js-scroll-trigger">Get Started Now, It's Free!</a>
          </div>
        </div>
        <div class="col-lg-5 my-auto">
          <div class="device-container">
            <div class="device-mockup iphone6_plus portrait white">
              <div class="device">
                <div class="screen">
                  <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                  <img src="../../assets/img/interro.PNG" class="img-fluid" alt="">
                </div>
                <div class="button">
                  <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
</div>
<div *ngIf="auth.isAuthenticated">
  <quiz></quiz><quizzes></quizzes>
</div>
